{#{build}#}

<form method='post' action=''>
    {{items.form_build_id}}
    {{items.form_id}}
    {{items.form_token}}

    <div class='form'>{{items.Libele}}</div>
    <div class='form'>{{items.Description}}</div>
    <div class='form'>{{items.save}}</div>
</form>

